[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
User=grafana
Group=grafana
Type=notify
ExecStart=/metal/grafana/bin/grafana-v{{ grafana_version }}/bin/grafana-server                     \
                            -config /metal/grafana/config/grafana_conf.ini       \
                            -pidfile /metal/grafana/run/grafana.pid         		\
							-homepath /metal/grafana/bin/grafana-v{{ grafana_version }}/
[Install]
WantedBy=multi-user.target
